<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.virtualapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- Android 14+ requires per-type foreground service permissions -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <!-- Android 13+ requires POST_NOTIFICATIONS permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-sdk tools:overrideLibrary="android.support.dynamicanimation" />

    <application
        android:name=".XApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/vxp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:replace="android:theme,android:icon,android:label">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.3"
            tools:replace="android:value" />

        <meta-data
            android:name="android.support.VERSION"
            android:value="com.android.support:design:25.4.0"
            tools:replace="android:value" />

        <activity
            android:name=".splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.ListAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".home.LoadingActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:taskAffinity="va.task.loading"
            android:theme="@style/TransparentTheme" />

        <activity android:name=".home.NewHomeActivity" />

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/settings_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".settings.RecommendPluginActivity"
            android:label="@string/settings_plugin_recommend"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WithActionBar" />

        <activity
            android:name=".settings.AppManageActivity"
            android:label="@string/settings_app_manage_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WithActionBar" />

        <activity
            android:name=".settings.TaskManageActivity"
            android:label="@string/settings_task_manage_text"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.WithActionBar" />

        <activity
            android:name=".sys.ShareBridgeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/shared_to_vxp"
            android:screenOrientation="portrait"
            android:taskAffinity="${applicationId}.share"
            android:theme="@style/AppTheme.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sys.InstallerActivity"
            android:allowTaskReparenting="true"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:excludeFromRecents="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_installer_label"
            android:noHistory="true"
            android:taskAffinity="${applicationId}.installer"
            android:theme="@style/AppTheme.WithActionBar" />

        <activity-alias
            android:name="vxp.installer"
            android:enabled="true"
            android:exported="true"
            android:targetActivity=".sys.InstallerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
        </activity-alias>



        <receiver
            android:name=".dev.CmdReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.CMD" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
